[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
tables = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]
thinkstats2 = {editable = true, path = "."}

[requires]
python_version = "3.7"
